/uni_java/ManejoTransacciones/nbproject/private/
/uni_java/ManejoTransacciones/build/
/uni_java/personaCapaDatos/nbproject/private/
/uni_java/personaCapaDatos/build/
/uni_java/usuariosCapaDatos/nbproject/private/
/uni_java/usuariosCapaDatos/build/
/uni_java/poolConexiones/nbproject/private/
/uni_java/poolConexiones/build/
/uni_java/mundoPc/nbproject/private/
/insertion_sorf/nbproject/private/
/insertion_sorf/build/
/uni_java/HolaMundoServlets/nbproject/private/
/uni_java/HolaMundoServlets/build/
/uni_java/CreacionServlet/nbproject/private/
/uni_java/CreacionServlet/build/