/uni_java/ManejoTransacciones/nbproject/private/
/uni_java/ManejoTransacciones/build/
/uni_java/personaCapaDatos/nbproject/private/
/uni_java/personaCapaDatos/build/
/uni_java/usuariosCapaDatos/nbproject/private/
/uni_java/usuariosCapaDatos/build/
/uni_java/poolConexiones/nbproject/private/
/uni_java/poolConexiones/build/